# Environment files (sensitive data like API keys)
.env
.env.*
sendgrid.env
.env_2024*
.bin
.node_modules/
.uploads/
# Log files
*.log
.history/
.uploads/

# OS-specific files
.DS_Store
Thumbs.db


# IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo
